/* Journey to the Center of the Earth Practicum */
/* Bianca Bojczak */
body {
    margin: .1em;
    padding: 10px;
    border: 10px solid #886644; 
    box-shadow: rgba(0,0,0,0.4) inset 5px 5px;
    background: linear-gradient(to bottom,#765729 0%, black 100%);
   
}

h1 {
   font-size: 50pt;
   font-family: "Georgia";
   color: white;
   text-shadow: 2pt 2pt rgba(0,0,0,0.4);
   text-align: center;
}


header {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}



nav {
background: rgb(230, 217, 200)75%;
box-shadow: 5pt 5pt 5pt rgba(0,0,0,0.4) inset;
padding: 3pt;
margin-top: 1em;
}



main {
background: rgb(230, 217, 200) 75%;
box-shadow: 5pt 5pt 5pt rgba(0,0,0,0.4) inset;
padding: 10px;

}



aside {
    background: rgb(230, 217, 200) 75%;
    box-shadow: 5pt 5pt 5pt rgba(0,0,0,0.4) inset;
    padding: 20px;
    
   
   
   
    
}
footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(230, 217, 200) 75%;
    text-align: center;
    box-shadow: 5pt 5pt 5pt rgba(0,0,0,0.4) inset;
}



/* Hero Section */

#hero, header {
   width: auto;
   overflow: hidden; 
   background-size: cover;
   background-image: url(../img/cave.jpg);
   box-shadow: black inset 20px 20px 20px;
   background-position: center;
}

#hero img {
   width: auto;
   
   
}

/* Menu Section*/

#menu ul{
   list-style: none;
text-align: center;
align-content: space-between;
}

#menu li {
    display: inline;
    border: double; 
   padding: 10px;
   border-right: none;
   border-top: none;
   border-bottom: none;
   
}

#cover {
    float: left;
    margin: 1rem; 
    max-width: 50%;
   

}

#cryptogram img {
    max-width: 100%;
}

#cryptogram figcaption {
    text-align: center;
}

.submission {
    border: 1pt solid black;
    background-color: rgb(231, 229, 226);
    display: flex;
    max-width: 75%;
    min-height: 50%;
    padding: 5px;
    text-align: center;
    align-items: inline;
   position: relative;
   align-content: space-between;
   
  


}

.signature {
    font-style: italic;
    text-align: center;
    
    
    
}




/* Tablet Size */
@media screen and (min-width:786px) {
    aside {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2px;
    
    }
}

/* Large Screen Size */
@media screen and (min-width:1024px) {
   
   
    

